#popover-body-\:rj\:,#popover-body-\:rf\:,#popover-body-\:r3\:,#popover-body-\:r7\:,#popover-body-\:rb\:{
    background: white;
    color: gray;
}
.chakra-text:hover{
    cursor: pointer;
    background-color: bisque;
    border: 1px solid gray;
    border-radius: 2px;
}
* ::selection{
    background-color: rgb(43, 161, 240);
}